.cabecalho{
background-color: black;
color: aliceblue;
display: flex;
padding: 24px 0;
}
.freddy-cabecalho{
padding: 0%;
width: 20px;
height: 20px;
}
.titulo-cabecalho{
width: 20px;
height: 5px;
}
.bonny-cabecalho{


}
.carrinho{


}

.section1{
background: linear-gradient( black #2D0A09  );

}