* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0;
    width: 100%;
    height: 80px;
}

.menu {
    width: 50px;
    height: 80px;
}


.freddy-cabecalho {
    display: flex;
    width: 100px;
    height: 80px;
}

.titulo-cabecalho {
    width: 80px;
    height: 80px;
}

.bonny-cabecalho {
    width: 80px;
    height: 80px;

}

.carrinho {
    width: 80px;
    height: 80px;
}

.section1 {
    background-image: linear-gradient(#000000, #861010);
}

.todos {
    width: 500px;
    height: 100px;
}

.frase {
    color: aliceblue
}

.titulo-h2 {
    color: aliceblue;

}

.NOSSOS-SABORES {
    background-image: linear-gradient( #861010, #000000 );

}