@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Sixtyfour+Convergence&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.cabecalho {
    font-family: "Sixtyfour Convergence";
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0;
    width: 100%;
    height: 80px;
}

.menu {
    width: 50px;
    height: 80px;
}


.freddy-cabecalho {
    width: 80px;
    height: 80px;
}

.titulo-cabecalho {
    width: 80px;
    height: 80px;
}

.bonny-cabecalho {
    width: 80px;
    height: 80px;

}

.carrinho {
    width: 80px;
    height: 80px;
}

.section1 {
    background-image: linear-gradient(#000000, #861010);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    padding: 3%;
}

.todos {
    width: 300%;
    height: 80%;
    padding-right: 300px;
}

.frase {
    color: aliceblue;
    margin-top: 15px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;

}

.titulo-h2 {
    color: aliceblue;
    margin-top: 15px;
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
    text-align: center;

}

.btn {
    cursor: pointer;
    width: 50vh;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #8B0000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}

.btn:hover {
    background-color: #833252;
    border: 1px solid #fff;


}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    margin-left: 10px;
    padding-left: 24px;
    padding-right: 200px;
}

.nossosSabores {
    background-image: linear-gradient(#861010, #000000);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.titulo-h3 {
    text-align: center;
    font-size: 50px;
    background: #861010;

}

.sabores {
    width: 20%;
    height: 15%;
    padding: 3%;
    display: flex;


}

.frasesSabores {
    font-size: 200%;
    color: #fff;


}

.frasesSabores2 {
    font-size: 150%;
    color: #fff;

}

.bntCarrinho {
    cursor: pointer;
    width: 50vh;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #8B0000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}



.fraseFoxy {
    font-size: 200%;
    color: #fff;
}

.fraseFoxy2 {
    font-size: 150%;
    color: #fff;
}

.bntCarrinho2 {
    cursor: pointer;
    width: 50vh;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #8B0000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}


.divSabores {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    padding: 20px;

}